<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <!-- This Menu Item will appear in the Upper bar, that's why It needs NO parent or action -->
    <menuitem
        id="ccstmiktsm_menu_root"
        name="Computer Club STMIK Tasikmalaya"
        sequence="10"/>
    
    <menuitem
        id="ccstmiktsm_event_menu_categ"
        name="Acara"
        parent="ccstmiktsm_menu_root"
        sequence="31"/>

</odoo>